@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  text-align: center;
  margin: 2em auto;
}

header h1 {
  font-size: 3.2rem;
  text-transform: uppercase;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff3d00;
  font-family: "Quicksand", sans-serif;
  position: relative;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

#startRestart {
  font-family: inherit;
  margin: 1em auto;
  padding: 0.75em 2em;
  font-size: 1.8rem;
  border-radius: 8px;
  outline: none;
  border: none;
  background: none;
  -webkit-box-shadow: 2px 2px 5px #dd2c00, -2px -2px 5px #ff6e40, inset -2px -2px 5px #dd2c00, inset 2px 2px 5px #ff6e40;
          box-shadow: 2px 2px 5px #dd2c00, -2px -2px 5px #ff6e40, inset -2px -2px 5px #dd2c00, inset 2px 2px 5px #ff6e40;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#startRestart:active {
  -webkit-box-shadow: inset 2px 2px 5px #dd2c00, inset -2px -2px 5px #ff6e40;
          box-shadow: inset 2px 2px 5px #dd2c00, inset -2px -2px 5px #ff6e40;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#startRestart:hover {
  cursor: pointer;
  font-weight: bold;
}

.container {
  margin-top: 3em;
  width: 32.5rem;
  height: 32.5rem;
  padding: 1em;
  -webkit-filter: drop-shadow(4px 4px 5px #dd2c00) drop-shadow(-4px -4px 5px #ff6e40);
          filter: drop-shadow(4px 4px 5px #dd2c00) drop-shadow(-4px -4px 5px #ff6e40);
  -webkit-box-shadow: 4px 4px 10px #dd2c00, -4px -4px 8px #ff6e40, inset -4px -4px 5px #dd2c00, inset 4px 4px 5px #ff6e40;
          box-shadow: 4px 4px 10px #dd2c00, -4px -4px 8px #ff6e40, inset -4px -4px 5px #dd2c00, inset 4px 4px 5px #ff6e40;
}

.grid {
  margin: 0 auto;
  width: 30rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-filter: drop-shadow(1px 1px 2px #6f160083) drop-shadow(-1px -1px 2px #971e0093);
          filter: drop-shadow(1px 1px 2px #6f160083) drop-shadow(-1px -1px 2px #971e0093);
}

.square {
  height: 1rem;
  width: 1rem;
}

.snake {
  background: #831a00;
}

.apple {
  border-radius: 50%;
  background: #831a00;
}

.mob-direction {
  visibility: hidden;
}

.gamOVerModal {
  position: absolute;
  z-index: 10;
  background: #ebb2a056;
  min-height: 90vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
}

.gameoverBox {
  background: #ff9e80;
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 4em;
  border-radius: 10px;
}

.gameoverBox h2 {
  font-size: 2.2rem;
  margin: 0;
}

.gameoverBox button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  cursor: pointer;
}

.gameoverBox button:active {
  color: #fff;
}

@media (hover: none) and (pointer: coarse) {
  .mob-direction {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3em;
  }
  .mob-direction button {
    width: 6.5rem;
    height: 6.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ff3d00;
    font-weight: bold;
    color: #000;
    padding: 1em;
    margin: 0.1em;
    outline: none;
    border: none;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 5px #dd2c00, -2px -2px 5px #ff6e40, inset -2px -2px 5px #dd2c00, inset 2px 2px 5px #ff6e40;
            box-shadow: 2px 2px 5px #dd2c00, -2px -2px 5px #ff6e40, inset -2px -2px 5px #dd2c00, inset 2px 2px 5px #ff6e40;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .mob-direction button:active {
    -webkit-box-shadow: inset 2px 2px 5px #dd2c00, inset -2px -2px 5px #ff6e40;
            box-shadow: inset 2px 2px 5px #dd2c00, inset -2px -2px 5px #ff6e40;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  .leftRight {
    width: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer {
  margin: 2em 0 1em 0;
  font-size: 1.8rem;
  text-decoration: none;
}

footer i {
  color: #fff;
}

footer .iclass {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  margin-left: 0.5em;
}
