@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");

//background
$darkred: #dd2c00;
$midred: #ff3d00;
$lightered: #ff6e40;
$lightestred: #ff9e80;

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin: 2em auto;
  h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $midred;
  font-family: "Quicksand", sans-serif;
  position: relative;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

#startRestart {
  font-family: inherit;
  margin: 1em auto;
  padding: 0.75em 2em;
  font-size: 1.8rem;
  border-radius: 8px;
  outline: none;
  border: none;
  background: none;
  box-shadow: 2px 2px 5px $darkred, -2px -2px 5px $lightered,
    inset -2px -2px 5px $darkred, inset 2px 2px 5px $lightered;
  transition: all 0.25s ease;
  &:active {
    box-shadow: inset 2px 2px 5px $darkred, inset -2px -2px 5px $lightered;
    transform: translateY(2px);
  }
  &:hover {
    cursor: pointer;
    font-weight: bold;
  }
}

.container {
  margin-top: 3em;
  width: 32.5rem;
  height: 32.5rem;
  padding: 1em;
  filter: drop-shadow(4px 4px 5px $darkred)
    drop-shadow(-4px -4px 5px $lightered);
  box-shadow: 4px 4px 5px $darkred, -3px -3px 5px $lightered,
    inset -4px -4px 5px $darkred, inset 4px 4px 5px $lightered;
}

.grid {
  margin: 0 auto;
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  filter: drop-shadow(1px 1px 2px #6f160083)
    drop-shadow(-1px -1px 2px #971e0093);
}

.square {
  height: 1rem;
  width: 1rem;
}

.snake {
  background: #831a00;
}

.apple {
  border-radius: 50%;
  background: #831a00;
}

.mob-direction {
  visibility: hidden;
}

.gamOVerModal {
  position: absolute;
  z-index: 10;
  background: #ebb2a056;
  min-height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  visibility: hidden;
}

.gameoverBox {
  background: $lightestred;
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
  border-radius: 10px;
  h2 {
    font-size: 2.2rem;
    margin: 0;
  }
  button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    &:active {
      color: #fff;
    }
  }
}

@media (hover: none) and (pointer: coarse) {
  .mob-direction {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    button {
      width: 6.5rem;
      height: 6.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $midred;
      font-weight: bold;
      color: #000;
      padding: 1em;
      margin: 0.1em;
      outline: none;
      border: none;
      border-radius: 50%;
      box-shadow: 2px 2px 5px $darkred, -2px -2px 5px $lightered,
        inset -2px -2px 5px $darkred, inset 2px 2px 5px $lightered;
      transition: all 0.25s ease;
      &:active {
        box-shadow: inset 2px 2px 5px $darkred, inset -2px -2px 5px $lightered;
        transform: translateY(2px);
      }
    }
  }
  .leftRight {
    width: 20rem;
    display: flex;
    justify-content: space-between;
  }
}

footer {
  margin: 2em 0 1em 0;
  font-size: 1.8rem;
  text-decoration: none;
  i {
    color: #fff;
  }
  .iclass {
    color: #fff;
    font-family: "Quicksand", sans-serif;
    margin-left: 0.5em;
  }
}
